// layout
$gutter: 20px;

$screen-tablet: 768px;
$screen-desktop: 1024px;

// fonts
$font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-bold: "Lato-Black", $font-family;

// colors
$defaultColor: #222;
$blue: #2ca1b6;
$beige: #f2f1eb;
$red: #e95246;